@page
@model aspnetcore_project.ManageUsersModel

@{
    ViewData["Title"] = "ManageUsers";
}

<h1>ManageUsers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Is Organizer
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <input type="checkbox" value="1" class="checkbox" id="checkbox1" /> 
            </td>
            <td>
                @*
            IsOrganizer item
            @Html.DisplayFor(modelItem => item)
                *@
            </td>
        </tr>
}
    </tbody>
</table>
